
 <div id="myCarousel" class="carousel slide homeslider" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner full-screen">
      <div class="item active">
      <img class="center-block img-fluid full-screen" src="https://68.media.tumblr.com/12c5f33ffa9a36b2524a215913ee0706/tumblr_op2xhfqRfi1qerjyso1_1280.png" alt="First slide">
      </div>

      <div class="item">
      <img class="center-block img-fluid full-screen" src="<%=image_path('paris-photo-2.png')%>" alt="second slide">
      </div>

      <div class="item">
      <img class="center-block img-fluid full-screen" src="<%=image_path('paris-photo-3.png')%>" alt="Third slide">
      </div>
    </div>

  </div>
<!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin-top: 50px;">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="margin-top: 50px;">
      <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>


<nav class="nav">
    <a class="anav" style=" padding:20px; word-spacing: 10px; text-decoration: none; color: black; font-family: avenir " href="/"> Home </a>
    <a class="anav" style="word-spacing: 30px; text-decoration: none; color: black; font-family: avenir " href="">

     Locations
     </a>
    <a  style=" word-spacing: 30px; text-decoration: none; color: black; font-family: avenir " href=""> About </a>
    <a href="/users"><img id = "profile-icon" src="https://68.media.tumblr.com/5d025161f0f362f0f37a4c36eed5e152/tumblr_oo85afcHW91qerjyso1_250.png">
    </a>
    <h1 class = "logo">Odyssey</h1>
  </nav>



<img class="center-block img-fluid full-screen" src="https://68.media.tumblr.com/12c5f33ffa9a36b2524a215913ee0706/tumblr_op2xhfqRfi1qerjyso1_1280.png" alt="First slide">    </div>
<div class="col-md-5 col-md-offset-5">
    <h2>Paris <%= @paris_depart %></h2>
</div>



<div id="ed">
  <img class="le-tour-eiffel" src= <%=image_path('le-tour-eiffel.jpg')%> width="500px"  align="left">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <img class="merci-car" src= <%=image_path('merci.jpg')%> width="500px"  align="right">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

<div class="date_picker">

  <form action="/trips" method='POST'>
    Flight leave:
    <input type="date" name="flight_leave" value="">
    Flight return:
    <input type="date" name="flight_return">


</div>


    <input type="submit">
  </form>
</div><br>

<div class="skyscannerwidget" data-skyscanner-widget="SearchWidget" data-destination-name="'Paris'"></div>
<script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>




<form action='/trips' method='POST'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div id="flights">
<!--   <h3>Find flights!</h3>
 -->
<div class="row">
  <div class="col-md-5 col-md-offset-5">
      <% @paris.each do |sky| %>

        <h4> Paris DepartureDate: <%= sky["OutboundLeg"]["DepartureDate"] %></h4>
        <h6>  Price: <%= sky["MinPrice"] %></h6>
        Carrier Id: <%= sky["InboundLeg"]["CarrierIds"] %><br>
        direct <%= sky["Direct"] %>

<!--   <h3>See upcoming events</h3>
 -->
  <div class="form-check">
        <label class="form-check-label">
        Save flight: <input name='flights' id= "flight_date" type="checkbox" value="<%= sky["OutboundLeg"]["DepartureDate"] %>"><br>

<!--         <input name='user_id' value="<%= @user.id %>" type="submit">
 -->
        <br>


        </label>
      </div>

        <h4> Paris Departure Date: <%= sky["OutboundLeg"]["DepartureDate"] %></h4>
        <h6>  Price: <%= sky["MinPrice"] %></h6>
          Carrier Id: <%= sky["InboundLeg"]["CarrierIds"] %><br>
          direct <%= sky["Direct"] %>

      coming back

      <h4> Paris DepartureDate: <%= sky["OutboundLeg"]["DepartureDate"] %></h4>
    <h6>  Price: <%= sky["MinPrice"] %></h6>
      Carrier Id: <%= sky["InboundLeg"]["CarrierIds"] %><br>
      direct <%= sky["Direct"] %>



      <div class="form-check">
  <label class="form-check-label">
  Save flight: <input name='flights' type="checkbox"value="<%= sky["OutboundLeg"]["DepartureDate"] %>"><br>
  <input name='user_id' value="<%= @user.id %>"><br>

  </label>
</div>

    <% end %>
  </div>
        <input type="hidden" name="user_id" value="<%= @user.id %>" type="submit">

</div>
</div>
<br>




<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <div class="eventful">
      <% @eventful.each do |eventful| %>
        Title: <%= eventful["title"] %><br>
        Time: <%= primary_time(eventful) %><br>
        Address <%= primary_address(eventful) %><br>

        <br>
      <% end %>
    </div>
  </div>
</div>

<!-- adding a row class for the air-slider -->
<div class="row">
<div class="airSlider">
      <center>
        <div class="w3-content w3-display-container">
        <% @response.each do |response| %>
        <ul>
          <li>
            <div class="mySlides">
            <h2> Name: <%= response["listing"]["name"] %></h2>
            <div id="row">
            <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
            <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
          </div>
            <img  title="thisworks" src=<%= response["listing"]["picture_url"] %>>
            Bedrooms: <%= response["listing"]["bedrooms"] %>
            Bathrooms: <%= response["listing"]["bathrooms"] %>
            Beds: <%= response["listing"]["beds"] %>
            <label class="form-check-label">
            Save airbnb: <input name='airbnb' type="checkbox" value="<%= response["listing"]["picture_url"] %>"><br>
            </label>
          </div>
            <br>
          </li>
          <% end %>
        </ul>
      </center>
    </div>
  </div>

</div>


  <div>
    <%=render 'widget_paris.index.html.erb'%>
  </div>

  <button class="btn btn-primary btn-lg">Submit all</button>
</form>


<div id="comments">
  <center>
<form action='/comments' method='POST'>
  add a comment: <br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  place: <input name='place' value="paris"><br>
  comment: <input name='comment' type="this is the comment"><br>
  <input name='user_id' value="<%= @user.id %>"><br>
  <button class="btn btn-primary btn-lg">Submit</button>

</form>


 <% @comments.each do |comment| %>
  <div class="card-block">
    <img src="http://i.imgur.com/DGn5YWT.jpg" width="100"  align="left">
    <h4 class="card-title">User Id: <%= @user.id %></h4>
    <p class="card-text"> Comment: <%= comment['comment'] %></p><br>
    <%= link_to "Remove Comment", comment, method: :delete %><br>

  </div>
<% end %>




</div>
