
<img class="center-block img-fluid full-screen" src="https://68.media.tumblr.com/12c5f33ffa9a36b2524a215913ee0706/tumblr_op2xhfqRfi1qerjyso1_1280.png" alt="First slide">    </div>
<div class="col-md-5 col-md-offset-5">
    <h2>Paris <%= @paris_depart %></h2>
</div>

<form action='/users' method='POST'>
update: <br>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

email: <%= @users[:email] %><br>
first name:<%= @users[:first_name] %> <br>

first name:<%= @users[:first_name] %> <br>
<input name='first_name'><br>

last name:<%= @users[:last_name] %> <br>
<input name='last_name'><br>

image:<%= @users[:image] %> <br>
<input name='image'><br>

flight:<%= @users[:flight] %> <br>
<input name="flight"><br>

flight_address:<%= @users[:flight_address] %> <br>
<input name="flight_address"><br>

address:<%= @users[:address] %> <br>
<input name=":address"><br>

profile:<%= @users[:profile_image] %> <br>
<input name=":profile_image">

<button>Submit</button>
</form>
