<%= form_for(@Users, multipart: true, action: "update") do |f| %>
  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit 'Make a friend' %>
  </div>
<% end %>