
<% getSkyscannerQuotes("anytime", "anytime", 6) %>


  <div id="flights"
  <div class="row">
    <div class="col-md-5 col-md-offset-5">
      <% @paris.each do |sky| %>
      <h4> Paris DepartureDate: <%= sky["OutboundLeg"]["DepartureDate"][0..9] %></h4>
      <h6>  Price: <%= sky["MinPrice"] %></h6>
      Carrier Id: <%= sky["InboundLeg"]["CarrierIds"] %><br>
      direct <%= sky["Direct"] %>


      <div class="form-check">
        <label class="form-check-label">
          Save flight: <input name='flights' type="checkbox"value="<%= sky["OutboundLeg"]["DepartureDate"] %>"><br>
        </label>

      </div>
      <% end %>
    </div>
  </div>
</div>


<form accept-charset="UTF-8" action="/" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
  Form contents
</form>